<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>ExpressBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index,follow" />
  <meta name="author" content="Eric Butler" />
  <meta name="description" content="ExpressBlog is a quick blog app to practice RESTful routing in Express JS." />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item"><i class="node js icon"></i> Express Blog</a>
      <a href="/blogs" class="item">All Posts</a>
      <a href="/blogs/new" class="item"><i class="plus icon"></i> New</a>
    </div>
  </div>
