<% include partials/top %>

<div class="ui main text container segment">

  <h1 class="ui huge header">New Post</h1>

  <form class="ui form" action="/blogs" method="post">

    <div class="field">
      <label for="blogTitle">Title</label>
      <input type="text" name="blog[title]" id="blogTitle">
    </div>

    <div class="field">
      <label for="blogImage">Image URL</label>
      <input type="text" name="blog[image]" id="blogImage">
    </div>

    <div class="field">
      <label for="blogBody">Body</label>
      <textarea name="blog[body]" id="blogBody"></textarea>
    </div>

    <input class="ui primary button" type="submit" value="Publish">
    <a class="ui basic button" href="/blogs">Cancel</a>

  </form>

</div>

<% include partials/bottom %>
